<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <h1>Clientes </h1>
      <hr>


      <div class="row text-right">
        <div class="col">
          <button class="btn btn-danger" routerLink="/clientes">
            <i class="fa fa-arrow-left"></i>
            Regresar
          </button>
        </div>
      </div>



      <div class="row animated fadeIn faster">
        <div class="col">

          <form (ngSubmit)="guardar( f )" #f="ngForm">

            <div class="form-group">
              <label>Firebase ID</label>
              <input type="text" class="form-control" placeholder="Firebase ID" [(ngModel)]="cliente.id" name="id"
                disabled="disabled">
              <small class="form-text text-muted">Este campo es autogenerado</small>
            </div>


            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" placeholder="Nombre del cliente" [(ngModel)]="cliente.nombre"
                name="nombre" required>
            </div>

            <div class="form-group">
              <label>Apellidos</label>
              <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido"
                placeholder="apellido del cliente">
            </div>

            <div class="form-group">
              <label>Telefono</label>
              <input type="number" class="form-control" [(ngModel)]="cliente.telefono" name="telefono"
                placeholder="telefono del cliente">
            </div>





            <hr>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary w-25">
                <i class="fa fa-save"></i>
                Guardar
              </button>
            </div>


          </form>


        </div>
      </div>





    </div>


  </div>
</div>
